#flash-sales {
  padding: 10px;
}

#flash-sales>.-banner,
#flash-sales>.-terms {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3)
}

#flash-sales>.-banner {
  height: 95px;
}

#flash-sales>.-terms {
  height: 29px;
  width: 464px;
  margin: 0 auto;
  margin-top: 20px;
}

#flash-sales>.-tabs {
  margin-top: 20px;
  height: 50px;
}

#flash-sales>.-tabs>.-new_item {
  background-color: white;
}

#flash-sales>.-tabs>.-tabs_container {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px dashed gray;
  width: 464px;
  height: 40px;
}

#flash-sales>.-tabs>.-tabs_container>a {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% / 5.1);
  background-color: white;
  height: 40px;
}

#flash-sales>.-sku_sections {
  margin-top: 20px;
  text-align-last: center;
}

#flash-sales>.-sku_sections>.-sku {
  display: inline-block;
  vertical-align: middle;
  width: 111px;
  margin: 1%;
}

#flash-sales>.-sku_sections>.-sku>.-image>.-sku_name {
  font-size: 0.55em;
  text-transform: capitalize;
  font-weight: 700;
  z-index: 1;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  width: 100%;
}

#flash-sales>.-sku_sections>.-sku>.-image>.-units {
  font-size: 0.6em;
  font-weight: 700;
  background-color: red;
  width: 50%;
  left: 50%;
  padding: 3px;
  bottom: -1%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  border-radius: 15px;
}

#flash-sales>.-sku_sections>.-sku>.-image {
  width: 100%;
  height: 121px;
  background-color: white;
  border-radius: 15px;
}

#flash-sales>.-sku_sections>.-sku>.-image>img {
  border-radius: 15px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

#flash-sales>.-sku_sections>.-sku>.-price_box {

}