<div id="flash-sales">
  <div class="-banner">

  </div>
  <div class="-terms">

  </div>
  <div class="-tabs pos-rel">
    <div class="-new_item pos-abs"></div>
    <div class="-tabs_container pos-abs">
      <a href="#section-1" class="pos-rel">
        <div class="date-text month pos-abs">Apr</div>
        <div class="date-text date">8</div>
        <div class="date-text day pos-abs">Mon</div>
      </a>
      <a href="#section-2" class="pos-rel">
        <div class="date-text month pos-abs">Apr</div>
        <div class="date-text date">8</div>
        <div class="date-text day pos-abs">Mon</div>
      </a>
    </div>
  </div>
  <div class="-sku_sections"></div>
</div>