<div id="flash-sales">
  <div class="-banner">

  </div>
  <div class="-terms">

  </div>
  <div class="-tabs pos-rel">
    <div class="-new_item pos-abs"></div>
    <div class="-tabs_container pos-abs">
      <a href="#section-1" class="pos-rel">
        <div class="date-text month pos-abs">Apr</div>
        <div class="date-text date">8</div>
        <div class="date-text day pos-abs">Mon</div>
      </a>
      <a href="#section-2" class="pos-rel">
        <div class="date-text month pos-abs">Apr</div>
        <div class="date-text date">8</div>
        <div class="date-text day pos-abs">Mon</div>
      </a>
    </div>
  </div>
  <div class="-sku_sections">
    <div v-for="(sku, index) in skus" :key="index" class="-sku">
      <div class="-time">{{time(sku.saleTime)}}</div>
      <div class="-image pos-rel">
        <div class="-sku_name pos-abs">{{sku.skuName}}</div>
        <img class="pos-abs" v-bind:src="image(sku.image)" alt="sku_img"/>
        <div class="-units pos-abs" data-content="red">{{sku.units}} units</div>
      </div>
      <div class="-price_box pos-rel">
        <div class="-new_price pos-abs">₦{{sku.newPrice}}</div>
        <div class="-old_price pos-abs">₦{{sku.oldPrice}}</div>
      </div>
    </div>
  </div>
</div>