<div id="left-side-bar" class="pos-abs">
  <h2>{{path}}</h2>
  <ul id="navTabs" class="pos-rel input">
    <li class="input pos-abs active" @click="changeTab('input')">
      <div class="pos-rel">
        <span class="pos-abs">input</span>
      </div>
    </li>
    <li class="output pos-abs" @click="changeTab('output')">
      <div class="pos-rel">
        <span class="pos-abs">output</span>
      </div>
    </li>
  </ul>
  <div class="content-wrap">
    <section id="input" class="active">
      <h2>Input Fields</h2>
      <div class="-input-fields_container pos-rel">
        <div class="-input_field" v-for="(field, index) in inputFields" :key="index">
          <div class="-top_pane pos-rel">
            <span class="pos-abs">{{field.name}}</span>
          </div>
          <textarea name="" id="" cols="30" rows="10" :placeholder="'paste ' + field.name + 's...'"></textarea>
        </div>
        <button v-if="inputFields.length > 0">submit</button>
      </div>
    </section>
    <section id="output">output section</section>
  </div>
</div>