<div id="navigation" class="pos-rel">
  <a href="/" class="logo pos-abs">
    <div class="pos-abs red-wrap">
      <div class="pos-rel">
        <span class="pos-abs">SK & co. ltd.</span>
      </div>
    </div>
  </a>
  <div class="description pos-abs">
    <span>building civil engineering</span>
    <span>contractors & decorators</span>
  </div>
  <ul class="navigation-items pos-abs">
    <!-- <li><router-link to="/flash-sales">Flash Sales</router-link></li>
    <li><router-link to="/treasure-hunt">Treasure Hunt</router-link></li>
    <li><router-link to="/vouchers">Vouchers</router-link></li> -->
  </ul>
</div>