/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body { height: 100%; }

body {
  background-color: #eaeded;
}

#app {
  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9em;
  text-align: center;
  color: black; 
  height: 100%;
  overflow-y:hidden;
}

.content {
  width: 100%;
  max-width: 1170px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
  margin: 0 auto;
}

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

#left-side-bar,
#right-side-bar {
  width: 22%;
  height: 100%;
  background-color: #3d474c;
}

#left-side-bar { left: 0; }
#right-side-bar { right: 0; }

.center {
  left: 22%;
  width: 56%;
  height: 100%;
  background-color: #eaeded;
  overflow-y: auto;
}


.-new_item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  cursor: pointer;
}

.-new_item::before,
.-new_item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.-new_item::before {
  width: 2px;
  height: 50%;
  background-color: gray;
}

.-new_item::after {
  width: 50%;
  height: 2px;
  background-color: gray;
}
